nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 70px;
  background: white;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
}

.nav-brand {
  color: #2563eb;
  font-weight: bold;
  font-size: 26px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: #222;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
  background: #f0f4ff;
}

.logout-btn {
  padding: 8px 20px;
  border-radius: 8px;
  border: 1px solid #ef4444;
  background: transparent;
  color: #ef4444;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.logout-btn:hover {
  background: #ef4444;
  color: white;
}

.btn-outline {
  padding: 9px 20px;
  border-radius: 8px;
  border: 1px solid #2563eb;
  background: transparent;
  color: #2563eb;
  cursor: pointer;
}

.btn-primary {
  padding: 9px 22px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}